
<div class="col-md-2 col-sm-3 text-center">
  <% if phrase.user.avatar.present? %>
      <%= image_tag(phrase.user.avatar.url, size: "115x97") %>
  <% end %>

  <h4><%= link_to phrase.user.name, user_phrases_path(phrase.user) %></h4>
  <p>Activity:
    <%= phrase.user.activ %>
    Expertise:
    <%= phrase.user.expertise %>
  </p>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="col-xs-12">
      <div class="phrase-title">
        <h3 class="modal-title">
          <%= phrase.phrase %>
        </h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="translation">
        <%= phrase.translation %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
          <%= link_to " ", like_phrase_path(phrase.id), class: 'glyphicon glyphicon-thumbs-up', method: :put %>
      <%= phrase.score %>
          <%= link_to " ", dislike_phrase_path(phrase.id), class: 'glyphicon glyphicon-thumbs-down', method: :put %>

    </div>
    <div class="col-xs-2">
      <div class="btn btn-default">
        <%= link_to 'Show examples',  phrase_path(phrase.id)%>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="category">
        Category:
        <span class="label label-default"><%= phrase.category.name %></span>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="btn btn-default">
        <%= link_to "Edit phrase", edit_phrase_path(phrase.id) %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="btn btn-default">
        <%= link_to "Delete", phrase_path(phrase.id), method: :delete %>
      </div>
    </div>
  </div>
</div>

