<div class = "container">
<div class="row">
<div class="col-xs-3">
<div class="avatar">
  <% if current_user.avatar.present? %>
  <%= image_tag(current_user.avatar.url, size: "120x100", class: "image") %> <!--показывает какой аватар выбран на данный момент -->
  <% end %>
</div>
<%= form_for current_user do |f| %>
    <div class="field">
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>
    <%= f.submit "Create new avatar", class: "btn btn-primary" %>

      <div class="field change_name">
        <h3>Change you name</h3>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.submit "Edit name", class: "btn btn-primary" %>
      </div>
<% end %>
</div>

  <div style="margin-left: 100px" class="col-xs-7">
    <h3>Last news</h3>
    <% @activities.each do |a|%>
        <li class = 'list_name'>
          <%= a.key.html_safe %>
          <%= link_to activity_path(a.id), method: :delete do %>
              <span class="icon">✗</span>
          <% end %>
        </li>
    <% end %>
  </div>

</div>


</div>